body {
    width: 800px;
    max-width: 80%;
    background-image: url(Kepek/background2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    height: 100vh;
    font-family: "Times New Roman", Times, serif;
}

header {
    color: whitesmoke;
    text-align: center;
}

article {
    margin: auto;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    background-color: grey;
    color: black;
    padding: 5px;
}

img {
    width: 200px;
    height: 200px;
}

ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 0;
    margin: 30px;
   
}

li {
    list-style-type: none;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
}

a:hover {
    color: yellow;
    border: 2px solid yellow;
}

.no-border {
    border: none;
}

.no-border:hover {
    color: none;
    border: none;
}