body {
    width: 800px;
    max-width: 80%;
    background-image: url(Kepek/background2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    height: 100vh;
    font-family: "Times New Roman", Times, serif;
}


header {
    color: whitesmoke;
    text-align: center;
}

article {
    margin: auto;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    background-color: grey;
    color: black;
    padding: 5px;
}