body {
    width: 800px;
    max-width: 80%;
    background-image: url(Kepek/background2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    height: 100vh;
    font-family: "Bookman Old Style", Georgia, serif;
}

header {
    color: whitesmoke;
    text-align: center;
}

article {
    height: 50%;
    margin: auto;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    background-color: grey;
    box-shadow: 0px 0px 15px whitesmoke;
    color: black;
    padding: 5px;
    background-image: url(Kepek/lambo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    height: 50vh;
}

img {
    width: 200px;
    height: 200px;
}

ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin: 30px 0px 30px 0px;
   
}

li {
    list-style-type: none;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

a:hover {
    color: yellow;
    border: 2px solid yellow;
    box-shadow: 0px 0px 10px yellow;
}

.no-border {
    border: none;
}

.no-border:hover {
    color: none;
    border: none;
    box-shadow: none;
}

hr {
    margin: 0px 0px 0px 20px;
}

h3 {
    color: white;
    text-align: center;
    text-decoration: underline;
}

p {
    color: white;
    text-align: center;
}

@media (max-width: 800px) {
    
    ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
        margin: 10px 0px 10px 0px;
       
    }

    li {
        margin: 10px;
    }
    
    a.no-border {
        padding: 0;
    }

    p {
        margin: 0;
    }

    h3 {
        margin: 10px 0px 10px;
    }
}