body {
    background-image: url(Kepek/tortenetbckground.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    height: 100vh;
    color: whitesmoke;

}

header {
    text-align: center;
}

img {
    width: 550px;
    height: 150px;
}
 article {
    margin-left: 20px;
 }